<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Booking</title>
  <link rel="stylesheet" href="./app.component.css"> </head>
<body>
  <header>
    <h1>Karibu Events</h1>
    <nav>
      <a routerLink="/events">Events</a>
      <a routerLink="/venues">Login</a>
      <a routerLink="/reservations">Reservations</a>
      </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p>&copy; Karibu Events 2024</p>
    <section class="contact-info">
      <h4>Contact Us</h4>
      <p>
        <span class="label">Email:</span>
        <a href="mailto:info@karibu-events.com">info&#64; karibu-events.com</a>
      </p>
      <p>
        <span class="label">Phone:</span>
        <a href="tel:+1234567890">+1 234 567 890</a>
      </p>
    </section>
  </footer>
</body>
</html>
